@media (max-width: 1300px) {

    .custom_nav-container .navbar-nav {
        margin: 0;
        margin-left: auto;
        align-items: center;
    }

        .custom_nav-container .navbar-nav .nav-item .nav-link {
            padding: 5px 15px;
        }
}

@media (max-width: 1120px) {
}

@media (max-width: 992px) {
    .hero_area {
        min-height: auto;
    }

    .custom_nav-container .navbar-nav {
        padding-top: 15px;
    }

    .user_optio_box {
        flex-direction: column;
        align-items: center;
    }

        .user_optio_box a {
            margin: 5px;
        }

    .header_section .header_top .contact_nav a span {
        display: none;
    }

    .custom_nav-container .navbar-nav .nav-item .nav-link {
        padding: 5px 25px;
        margin: 5px 0;
    }

    .slider_section {
        padding: 75px 0;
    }
}

@media (max-width: 768px) {
    .about_section .detail-box {
        margin-top: 45px;
    }



    .info_section .row > div {
        margin-bottom: 35px;
    }

    .contact_section .form_container {
        margin-bottom: 45px;
    }
}

@media (max-width: 576px) {
    .about_section .img_container .img-box.b2 {
        margin-top: 115px;
    }

        .about_section .img_container .img-box.b2::before {
            transform: translateY(-45px);
        }

    .about_section .img_container .img-box.b1::before {
        transform: translateY(45px);
    }

    .client_section .box {
        flex-direction: column;
        align-items: center;
    }

        .client_section .box .detail-box {
            padding: 85px 45px 45px 45px;
        }

        .client_section .box .img-box {
            margin-right: 0;
            margin-bottom: -65px;
        }
}

@media (max-width: 480px) {
}

@media (max-width: 420px) {
}

@media (max-width: 376px) {
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

body {
    margin-top: 20px;
    background: #eee;
}
/* Social feed */
.social-feed-separated .social-feed-box {
    margin-left: 62px;
}

.social-feed-separated .social-avatar {
    float: left;
    padding: 0;
}

    .social-feed-separated .social-avatar img {
        width: 52px;
        height: 52px;
        border: 1px solid #e7eaec;
    }

.social-feed-separated .social-feed-box .social-avatar {
    padding: 15px 15px 0 15px;
    float: none;
}

.social-feed-box {
    /*padding: 15px;*/
    border: 1px solid #e7eaec;
    background: #fff;
    margin-bottom: 15px;
}

.article .social-feed-box {
    margin-bottom: 0;
    border-bottom: none;
}

    .article .social-feed-box:last-child {
        margin-bottom: 0;
        border-bottom: 1px solid #e7eaec;
    }

    .article .social-feed-box p {
        font-size: 13px;
        line-height: 18px;
    }

.social-action {
    margin: 15px;
}

.social-avatar {
    padding: 15px 15px 0 15px;
}

.social-comment .social-comment {
    margin-left: 45px;
}

.social-avatar img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.social-avatar .media-body a {
    font-size: 14px;
    display: block;
}

.social-body {
    padding: 15px;
}

    .social-body img {
        margin-bottom: 10px;
    }



.social-comment:first-child {
    margin-top: 0;
}

.social-comment {
    margin-top: 15px;
}

    .social-comment textarea {
        font-size: 12px;
    }


.form-control, .single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}


.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

    .ibox.collapsed .ibox-content {
        display: none;
    }

    .ibox.collapsed .fa.fa-chevron-up:before {
        content: "\f078";
    }

    .ibox.collapsed .fa.fa-chevron-down:before {
        content: "\f077";
    }

    .ibox:after,
    .ibox:before {
        display: table;
    }

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}
