<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyApp</title>


  




    <!-- Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
</head>
<body>
    <header>
        <!-- Optional: Add a header or navigation bar here -->
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <!-- Optional: Add a footer here -->
    </footer>

    <!-- JavaScript -->
    <script src="~/js/scripts.js" defer></script>
    <script src="~/js/scripts.js" defer></script>


</body>
</html>
